<p>{{message}}</p>
<p [innerHtml]="message"></p>
<input type="text" [(ngModel)]="message">


<button type="button" (click)="toggleList()">Show/Hide</button>

<ul *ngIf="showList">
  <li *ngFor="let cust of customertypeService.customerTypeList">{{cust.name}}</li>
</ul>
